﻿<asp:Content runat="server" ID="FeaturedContent" ContentPlaceHolderID="FeaturedContent">
    <script src="~/Scripts/Chart.js" type="text/javascript"></script>
    @section scripts{
        <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
        <script src="~/signalr/hubs"></script>

        <script type="text/javascript">
           /* function checkHTML5() {
                var canvasForLineChart = document.getElementById("canvasForLineChart");
                if (canvasForLineChart == null || canvasForLineChart == "") {
                    document.write("Browser doesn't support HTML5 2D Context");
                    return false;
                }
                if (canvasForLineChart.getContext) {

                }
                else {
                    document.write("Browser doesn't support HTML5 2D Context");
                    return false;
                }
            }*/
            window.onbeforeunload = function (e) {
                $.connection.criticalHub.stop();
                $.connection.nonCriticalHub.stop();
            }
            $(function () {
                //If not HTML5 Support the Exit
            //    if (checkHTML5() == false) return;

                //Create the Hub
                var criticalHub = $.connection.criticalHub;
                var nonCriticalHub = $.connection.NonCriticalHub;
                $.connection.hub.logging = true;
                //Call InitChartData
                $.connection.hub.start().done(function () {
                    criticalHub.server.initChartData();
                    nonCriticalHub.server.initChartData();
                });

                criticalHub.client.initChart = function(chart){
                  for (c of chart) {
                    var labelsArray = [];
                    var backgroundColorArray = [];
                    var secondaryColorArray= [];
                    var pointRadiusArray =[];
                    var dataArray =[];
                    for(d of c.datasets){
                       labelsArray.push(d.label);
                       backgroundColorArray.push(d.backgroundColor);
                       secondaryColorArray.push(d.secondaryColor);
                       pointRadiusArray.push(d.pointRadius);
                       dataArray.push(d.data);
                    }
                  var chart2 = initChart(c.id, c.type, c.datasets.length, labelsArray, secondaryColorArray, backgroundColorArray, pointRadiusArray, c.options.yAxes.minimum,c.options.yAxes.maximum, c.options.yAxes.suggestedMin, c.options.yAxes.suggestedMax, c.options.yAxes.stepSize);
                    addCriticalCharts(chart2, c.id);
                    criticalCharts.push(chart2);
                    critId.push(c.id);
                  }
                }

                //Call to Update LineChart from Server
                criticalHub.client.updateChart = function (line_data) {
                    updateCriticalChart(line_data);  //Call the LineChart Update method
                };
                nonCriticalHub.client.updateChart = function (line_data) {
                    UpdateNonCritical(line_data);
                }
                nonCriticalHub.client.initChart = function(chart){
                  for (c of chart) {
                    var labelsArray = [];
                    var backgroundColorArray = [];
                    var secondaryColorArray= [];
                    var pointRadiusArray =[];
                    var dataArray =[];
                    for(d of c.datasets){
                       labelsArray.push(d.label);
                       backgroundColorArray.push(d.backgroundColor);
                       secondaryColorArray.push(d.secondaryColor);
                       pointRadiusArray.push(d.pointRadius);
                       dataArray.push(d.data);
                    }
                 var chart2 = initChart(c.id, c.type, c.datasets.length, labelsArray, secondaryColorArray, backgroundColorArray, pointRadiusArray, c.options.yAxes.minimum, c.options.yAxes.maximum, c.options.yAxes.suggestedMin, c.options.yAxes.suggestedMax, c.options.yAxes.stepSize);

                  addNonCriticalCharts(chart2, c.id);
                    nonCriticalCharts.push(chart2);
                    nonCritId.push(c.id);
                  }
                }
              });

        </script>
    }
</asp:Content>
<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <h1>Formula Cruisers System Information</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p id="glvVoltageLevelP" class="dynamicValue">GLV Voltage Level = Not read yet.</p>
                <div class="chartWrapper">
                    <div class="chartAreaWrapper">
                        <div class="chartAreaWrapper2">
                            <canvas id="myChart">Chart is Loading...</canvas>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary center-block" onclick="scrollToogle();">Scroll Toogle</button>

                    <canvas id="myChartAxis" height="300" width="0"></canvas>
                </div>
                <canvas id="gslVoltageLevel" />
            </div>
            <div class="col-lg-6">
                <p id="glvCurrentsP" class="dynamicValue">GLV Currents = Not read yet.</p>
                <div class="chartWrapper">
                    <div class="chartAreaWrapper">
                        <div class="chartAreaWrapper2">
                            <canvas id="glvCurrents">Chart is Loading...</canvas>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary center-block" onclick="scrollToogle();">Scroll Toogle</button>

                    <canvas id="myChartAxis" height="300" width="0"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p id="cellVoltagesP" class="dynamicValue">Cell Voltages = Not read yet.</p>
                <div class="chartWrapper">
                    <div class="chartAreaWrapper">
                        <div class="chartAreaWrapper2">
                            <canvas id="cellVoltages">Chart is Loading...</canvas>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary center-block" onclick="scrollToogle();">Scroll Toogle</button>

                    <canvas id="myChartAxis" height="300" width="0"></canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Accumulators</h2>
                <div class="box" id="accumulator"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <canvas id="tsVoltageLevel">Chart is Loading...</canvas>
            </div>
            <div class="col-lg-6">
                <canvas id="tsCurrents">Chart is Loading...</canvas>
            </div>
        </div>
        <div class="row">
            <h2>Motor Controllers</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p id="MCTemperature1P" class="dynamicValue">Temperature 1 = Not yet.</p>
                <button type="button" class="btn btn-primary center-block" onclick="triggerButtonCanvas('MCTemperature1');">Temperature 1</button>
                <div class="chartWrapper">
                    <div class="chartAreaWrapper">
                        <div class="chartAreaWrapper2">
                            <canvas id="MCTemperature1"></canvas>
                        </div>
                    </div>
                    <canvas id="myChartAxis" height="300" width="0"></canvas>
                    <button type="button" class="btn btn-primary center-block" onclick="scrollToogle();">Scroll Toogle</button>
                </div>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary center-block" onclick="triggerButtonCanvas('MCTemperature2');">Temperature 2</button>
                <div class="chartWrapper">
                    <div class="chartAreaWrapper">
                        <div class="chartAreaWrapper2">
                            <canvas id="MCTemperature2"></canvas>
                        </div>
                    </div>
                    <canvas id="myChartAxis" height="300" width="0"></canvas>
                    <button type="button" class="btn btn-primary center-block" onclick="scrollToogle();">Scroll Toogle</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <h3>IMD Status</h3>
                    <div class="box">
                        <ul>
                            <li></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        ////////////////////////////////////////////////////////////////////////////////////////////////////////
        //SCRIPT
        var MAX_POINTS = 6;
        var POINT_RADIUS = 4;
        var NUMBER_COLUMNS = 12, NUMBER_ROWS = 8;
        var i, j;
        var accumulator = document.getElementById('accumulator');
        for (i = 1; i <= NUMBER_COLUMNS; i++) {
            var ul = document.createElement('ul');
            ul.id = 'accumulator_column_' + i;
            for (j = 1; j <= NUMBER_ROWS; j++) {
                var li = document.createElement('li');
                li.id = 'accumulator_' + j + ':' + i;
                ul.appendChild(li);
            }
            accumulator.appendChild(ul);
        }

        //var myLiveChart = initChart("myChart", 'line', 1, ["My First dataset"], ["rgba(220,220,220,0.2)"], ["rgba(220,220,220,0.2)"], [3]);
        //var glvCurrentsChart = initChart("glvCurrents", 'line', 1, ["GLV Current"], ["rgba(220,220,220,0.2)"], ["rgba(220,220,220,0.2)"],[3]);
        var glvCurrentScroll = 1;

        var MCTemperature1Scroll = 1;

        var scrollFlag = true;
        var criticalCharts = [];
        var critId =[];
        var nonCriticalCharts = [];
        var nonCritId = [];
        function addNonCriticalCharts(chart2, id){
          nonCriticalCharts.push(chart2);
          nonCritId.push(id);
        }
        function addCriticalCharts(chart2, id){
          criticalCharts.push(chart2);
          critId.push(id);
        }
        function initChart(id, type, numDataSets, title, color, fillColor,pointRadius,yAxesMinimum,yAxesMaximum,yAxesSuggestedMin, yAxesSuggestedMax, yAxesStepSize) {
            var chart = new Chart(document.getElementById(id).getContext("2d"), createChart(type, title, color, fillColor,pointRadius, yAxesMinimum,yAxesMaximum,yAxesSuggestedMin, yAxesSuggestedMax, yAxesStepSize));
            chart.data.labels[0] = 0;
            var i;
            for (i = 0; i < chart.data.datasets.length; i++) {
                chart.data.datasets[i].data[0] = 0;
            }
            return chart;
        }

        //Critical Chart Update method
        function updateCriticalChart(data) {
            //   myLiveChart1.datasets[0].points[maxLength - 1].value = data.lineChartData[0];
            //   myLiveChart1.update();
            var num = Math.random() * 100;
            var num2 = Math.random() * 100;
            updateAccumulator();
            document.getElementById("glvCurrentsP").innerHTML = "GLV Currents = " + data.lineChartData[0];
            var i;
            for(i=0;i<criticalCharts.length;i++){
              if(criticalCharts[i].data.datasets.length>1){
                updateChartMultiDataset(critId[i],[[num],[num2]],criticalCharts[i],1);
              }else{
                updateChartOneDataset(critId[i], [num], criticalCharts[i], 1);
              }
              }
          //  updateChartMultiDataset("MCTemperature1", [[num], [num2]], MCTemperature1Chart, MCTemperature1Scroll);
          //  document.getElementById("MCTemperature1P").innerHTML = "Temperature 1 = " + num + " | " + num2;
        }
        function UpdateNonCritical(data) {
            var num = Math.random() * 100;
            var i;
            for (i=0;i<nonCriticalCharts.length;i++) {
              if(nonCriticalCharts[i].data.datasets.length> 1){
                updateChartMultiDataset(nonCritId[i], [num], nonCriticalCharts[i], 1);
              }else{
              updateChartOneDataset(nonCritId[i], [num], nonCriticalCharts[i], 1);
            }
          }

        }
        function createChart(type, label, color, fillColor, pointRadius, yAxesMinimum,yAxesMaximum,yAxesSuggestedMin, yAxesSuggestedMax, yAxesStepSize){
          var chart = {
            options: {
                responsive: true,
                maintainAspectRatio: false,
                animation: false,
                scales: {
                  yAxes: [{
                    ticks: {
                      suggestedMin: yAxesSuggestedMin,
                      suggestedMax: yAxesSuggestedMax,
                      min: yAxesMinimum,
                      max: yAxesMaximum,
                      stepSize:yAxesStepSize
                    }
                  }]
                }
            },
            type: type,
            data: {
              datasets:[]
            }
          }
          var i;
          for(i=0;i<label.length;i++){
            chart.data.datasets.push({
              label:label[i],
              backgroundColor: fillColor[i],
              borderColor: color[i],
              pointColor: color[i],
              pointHoverBackgroundColor: color[i],
              pointhoverBorderColor: color[i],
              pointBorderColor: color[i],
              pointBackgroundColor: color[i],
              pointHoverRadius: pointRadius[i],
              pointRadius: pointRadius[i]
            })
          }
          return chart;
        }
        function lineChartOptionsOneDataset(type, label, color, fillColor) {
            return {
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: false

                        /* {onComplete: function (animation) {
                             var sourceCanvas = myLiveChart.chart.canvas;
                             var copyWidth = myLiveChart.scales['y-axis-0'].width - 10;
                             var copyHeight = myLiveChart.scales['y-axis-0'].height + myLiveChart.scales['y-axis-0'].top + 10;
                             var targetCtx = document.getElementById("myChartAxis").getContext("2d");
                             targetCtx.canvas.width = copyWidth;
                             targetCtx.drawImage(sourceCanvas, 0, 0, copyWidth, copyHeight, 0, 0, copyWidth, copyHeight);
                         }}*/

                },
                type: type,
                data: {
                    datasets: [
                        {
                            label: label[0],
                            backgroundColor: fillColor[0],
                            borderColor: color[0],
                            pointColor: color[0],
                            pointHoverBackgroundColor: color[0],
                            pointhoverBorderColor: color[0],
                            pointBorderColor: color[0],
                            pointBackgroundColor: color[0],
                            pointHoverRadius: POINT_RADIUS,
                            pointRadius: POINT_RADIUS
                        }
                    ]
                }
            };
        }

        function updateChartOneDataset(id, data, chart, scrollFlagChart) {
            var i, j;
            if (chart.data.labels.length > MAX_POINTS) {
                if (!scrollFlagChart) {
                    var newwidth = $(id + " .chartAreaWrapper2").width() + 60;
                    $(id + ' .chartAreaWrapper2').width(newwidth);
                    $(id + ' .chartAreaWrapper').animate({ scrollLeft: newwidth });
                }
                for (i = 0; i < chart.data.datasets.length; i++) {
                    chart.data.datasets[i].data.shift();
                    chart.data.labels.shift();
                }
            }
            for (j = 0; j < data.length; j++) {
                chart.data.datasets[j].data.push(data[j]);
            }
            chart.data.labels.push(chart.data.labels[chart.data.labels.length - 1] + 0.5);
            chart.update();
        }

        function updateChartMultiDataset(id, data, chart, scrollFlagChart) {
            var i, j;
            if (chart.data.labels.length > MAX_POINTS) {
                if (!scrollFlagChart) {
                    var newwidth = $(id + " .chartAreaWrapper2").width() + 60;
                    $(id + ' .chartAreaWrapper2').width(newwidth);
                    $(id + ' .chartAreaWrapper').animate({ scrollLeft: newwidth });
                }

                for (i = 0; i < chart.data.datasets.length; i++) {
                    for (j = 0; j < data[j].length; j++) {
                        chart.data.datasets[i].data.shift();
                    }
                }
                chart.data.labels.shift();

            }
            for (i = 0; i < chart.data.datasets.length; i++) {
                for (j = 0; j < data[j].length; j++) {
                    chart.data.datasets[i].data.push(data[i][j]);
                }
            }

            chart.data.labels.push(chart.data.labels[chart.data.labels.length - 1] + 0.5);
            chart.update();
        }

        function updateAccumulator() {
            var column = getRandomIntInclusive(1, NUMBER_COLUMNS);
            var row = getRandomIntInclusive(1, NUMBER_ROWS);

            var box = document.getElementById('accumulator_' + row + ':' + column);
            box.style.backgroundColor = "green";
            //alert('Row:'+row+' | Column: '+column);
        }

        function getRandomIntInclusive(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function scrollToogle() {
            if (scrollFlag) {
                $('.chartAreaWrapper').stop(true, false);
            }
            scrollFlag = !scrollFlag;

        }
        function triggerButtonCanvas(canvasId) {
            if (document.getElementById(canvasId).parentElement.parentElement.parentElement.style.display == 'none') {
                document.getElementById(canvasId).parentElement.parentElement.parentElement.style.display = 'block';
            } else {
                document.getElementById(canvasId).parentElement.parentElement.parentElement.style.display = 'none';
            }
        }
        ////////////////////////////////////////////////////////////////////////////////////////////////////////
    </script>
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <style>
        /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
        /*//CSS*/
        .chartWrapper {
            position: relative;
        }

            .chartWrapper > canvas {
                position: absolute;
                left: 0;
                top: 0;
                pointer-events: none;
            }

        .chartAreaWrapper {
            overflow-x: scroll;
            position: relative;
            width: 100%;
        }

        .chartAreaWrapper2 {
            position: relative;
            height: 300px;
        }

        .dynamicValue {
            text-align: center;
            font-size: 14px;
            font-weight: 600;
        }

        .box {
            width: 450px;
        }

            .box ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                float: left;
            }

                .box ul li {
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    border-style: solid;
                    border-width: 1px;
                    border-color: black;
                }
    </style>
</asp:Content>
