﻿@{
    ViewBag.Title = "Contact";
}
<script src="~/Scripts/Chart.js" type="text/javascript"></script>

<h1>Formula Cruisers System Information</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <div class="chartAreaWrapper2">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="scrollToogle();">Scroll Toogle</button>

                <canvas id="myChartAxis" height="300" width="0"></canvas>
            </div>
            <canvas id="gslVoltageLevel" />
        </div>
        <div class="col-lg-6">
            <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <div class="chartAreaWrapper2">
                        <canvas id="glvCurrents"></canvas>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="scrollToogle();">Scroll Toogle</button>

                <canvas id="myChartAxis" height="300" width="0"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="tsVoltageLevel" />
        </div>
        <div class="col-lg-6">
            <canvas id="tsCurrents" />
        </div>
    </div>
    <div class="row">
        <h2>Motor Controllers</h2>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary">Temperature 1</button>
            <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <div class="chartAreaWrapper2">
                     <!--   <canvas id="MCTemperature1"></canvas>-->
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="scrollToogle();">Scroll Toogle</button>

                <canvas id="myChartAxis" height="300" width="0"></canvas>
            </div>
        </div>
        <!--   <canvas id="MCTemperature1" /> -->
        <p id="MCTemperature1P">Temperature 1 = Not yet.</p>
    </div>

    <div class="col-lg-6">
        <button type="button" class="btn btn-primary">Temperature 2</button>
        <p>Temperature 2= </p>
    </div>
</div>
<canvas id="MCTemperature1" />

<script type="text/javascript">
    var MAX_POINTS = 6;
    var ctxMCTemperature1 = document.getElementById("MCTemperature1").getContext("2d");
    function lineChartOptionsDoubleDataset(label, fillColor, label2, fillColor2) {
        return {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: label2,
                        backgroundColor: "transparent",
                        borderColor: "#ff6384",
                        pointColor: "#ff6384",
                    },
                    {
                        label: label,
                        borderColor: "#ff1111",
                        pointColor: "#ff1111"
                    },
                ]
            }
        };
    }
    var MCTemperature1Options = lineChartOptionsDoubleDataset("MC Temperature 1 Value 1", "", "MC Temperature 1 Value 2", "transparent");
    var MCTemperature1Chart = new Chart(ctxMCTemperature1, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: "1",
                    backgroundColor: "#ff6384",
                    borderColor: "#ff6384",
                    pointColor: "#ff6384",
                    pointBackgroundColor: "#ff6384",
                    pointBorderColor: "#ff6384",
                    pointHoverBackgroundColor: "#ff6384",
                    pointHoverBorderColor: "#ff6384"

                },
                {
                    label: "2",
                    backgroundColor: "transparent",
                    borderColor: "#ff1111",
                    pointColor: "#ff1111"
                }
            ]
        }
    });
    var MCTemperature1Scroll = 1;
    var MCTemperature1Label = 0;
    var latestLabel = 0;
    setInterval(function () {
        var num = Math.random() * 100;
        var num2 = Math.random() * 100;

        updateLineChartMulti("MCTemperature1", [[num], [num2]], MCTemperature1Chart, 2, MCTemperature1Label, MCTemperature1Scroll);
     //   updateLineChartSingle("MCTemperature1", [[num]], MCTemperature1Chart, 2, MCTemperature1Label, MCTemperature1Scroll);

        document.getElementById("MCTemperature1P").innerHTML = "Temperature 1 = " + num + " " + num2;
    }, 1000);
    function updateLineChartMulti(id, data, chart, numberDatasets, label, scrollFlagChart) {
        var i, j;
        if (chart.data.labels.length > MAX_POINTS) {
            if (!scrollFlagChart) {
                var newwidth = $(id + " .chartAreaWrapper2").width() + 60;
                $(id + ' .chartAreaWrapper2').width(newwidth);
                $(id + ' .chartAreaWrapper').animate({ scrollLeft: newwidth });
            }
            for (i = 0; i < chart.data.datasets.length; i++) {
                chart.data.datasets[i].data.shift();
                chart.data.labels.shift();
            }
        }
        for (i = 0; i < chart.data.datasets.length; i++) {
            var labelAux = label;
            for (j = 0; j < data.length; j++) {
                chart.data.datasets[i].data.push(data[i][j]);
            }
            labelAux += 0.5;
            chart.data.labels.push(labelAux);
        }
        label = labelAux;

        chart.update();
    }
</script>
<style>
    .chartWrapper {
        position: relative;
    }

        .chartWrapper > canvas {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
        }

    .chartAreaWrapper {
        overflow-x: scroll;
        position: relative;
        width: 100%;
    }

    .chartAreaWrapper2 {
        position: relative;
        height: 300px;
    }
</style>